/* Icon Picker Modal */
.gt-blocks-icon-picker-modal {
  width: 100%;
  max-width: 800px; }
  .gt-blocks-icon-picker-modal .components-modal__header-heading {
    width: 100%; }
  .gt-blocks-icon-picker-modal .gt-icon-picker-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    font-size: 1rem;
    font-weight: bold; }
    .gt-blocks-icon-picker-modal .gt-icon-picker-title .gt-remove-icon {
      margin-left: auto;
      margin-right: 1em;
      color: #bc0b0b; }
  .gt-blocks-icon-picker-modal .gt-icon-picker-search {
    width: 100%;
    height: auto;
    font-size: 16px;
    padding: 6px 10px;
    margin-bottom: 12px; }
  .gt-blocks-icon-picker-modal .gt-icon-picker-list .gt-icon-picker-grid {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(auto-fill, minmax(56px, 1fr)); }
    .gt-blocks-icon-picker-modal .gt-icon-picker-list .gt-icon-picker-grid .gt-icon-link {
      display: block;
      padding: 0;
      height: auto;
      background: #f0f0f0;
      text-align: center; }
      .gt-blocks-icon-picker-modal .gt-icon-picker-list .gt-icon-picker-grid .gt-icon-link:hover, .gt-blocks-icon-picker-modal .gt-icon-picker-list .gt-icon-picker-grid .gt-icon-link:active {
        background: #e0e0e0;
        cursor: pointer; }
      .gt-blocks-icon-picker-modal .gt-icon-picker-list .gt-icon-picker-grid .gt-icon-link .gt-icon-svg {
        display: inline-block;
        padding: 16px; }
        .gt-blocks-icon-picker-modal .gt-icon-picker-list .gt-icon-picker-grid .gt-icon-link .gt-icon-svg .icon {
          width: 24px;
          height: 24px;
          fill: #202020;
          vertical-align: middle;
          pointer-events: none; }

/* Icon Picker Placeholder */
.gt-icon-placeholder-wrapper .gt-icon-placeholder {
  min-height: 150px; }

.gt-icon-placeholder-wrapper .gt-show-icon-picker {
  display: block;
  color: inherit;
  padding: 0;
  width: 100%;
  height: auto;
  text-align: inherit;
  font-size: inherit; }
  .gt-icon-placeholder-wrapper .gt-show-icon-picker .gt-icon-svg .icon {
    pointer-events: none; }
  .gt-icon-placeholder-wrapper .gt-show-icon-picker:not(:disabled):not([aria-disabled=true]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link):hover, .gt-icon-placeholder-wrapper .gt-show-icon-picker:not(:disabled):not([aria-disabled=true]):focus {
    background-color: inherit;
    color: inherit;
    outline: none; }
